@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'DM sans', sans-serif;
}

header {
      display: flex;
      justify-content: center;
      padding: 42px 0 17px 0;
}

header .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
}

header .logo h2{
      color: #D04F4F;
}

.chercherBar{
      width: 100%;
      padding: 0 100px;
      position: relative;
}

#chercher{
      width: 100%;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.02);
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 5px;

}

.chercheBar1 i{
      position: absolute;
      top: 12px;
      right: 115px;
      color: #000000;
      cursor: pointer;
}

.filters {
      display: flex;
      justify-content: flex-start;
      padding: 15px 100px;
}

.filters .ingredient,
.filters .appareils,
.filters .ustensiles {
      color: white;
      padding: 5px;
      border-radius: 5px;
      margin: 5px;
}    

#ingredients-btn {
      background-color: #3282F7;
}

#appareils-btn {
      background-color: #68d9a4;
}

#ustensiles-btn {
      background-color: #ED6454;
}

.ingredient-box, .appareils-box, .ustensiles-box {
      margin-right: 1rem;
}

#ingredients-list::-webkit-scrollbar {
      background-color: #3282f7;
    }

/* Styles des filtres */    

.tag-btn {
      border-color: transparent;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      width: 8.25rem;
      padding: 0.75rem;
      border-radius: 0.25rem;
      color: #fff;
      font-weight: 600;
}

.search-tag {
      width: 40rem;
      overflow: hidden;
      display: none;
      border: none;
      outline: none;
      background-color: transparent;
}